@model IEnumerable<WebApplication16.Models.Table_1>

@{
    ViewBag.Title = "Index";
     Layout = "~/Views/Shared/Style.cshtml";
}
<html>
<head></head>
<style>
    .body{
        background-color:aqua;
    }
</style>
<body>
<br /><br />

<p><div style="border-width:3px;border-style:solid;border-color:black;border-radius:5px;width:10%;color:black;background-color:mediumaquamarine;">
    @Html.ActionLink("Create New", "Create")</div>
</p>
<div style="border-width: 5px; border-style: solid; border-color: black;width:95%;margin:15px ;color:black;border-radius: 7px;background-color:skyblue;">
    <hr />
    <dl class="dl-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Foodid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Foodid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @*yo sabai kina comment gareko esle garda error aako ho tmro .. esma hamle id ma primarykey jun lai banako hunxam tyo value id ma pathaune ho hai*/*@
                        @*//need to pass main id in this*@
                        @Html.ActionLink("Edit", "Edit", new { id = item.Foodid }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Foodid }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Foodid })
                        @*esma data pass gareko anusar id xa so controller ma accept garna id lekhinxa and if ya MainId xa vane controller ma ni MainId nai lekhnu parxa yeta define gareko variable anusar controller ma accept garne ho*@
                    </td>
                </tr>
            }

        </table>
</div>
<section style="text-align:center;border-style:solid;border-color:black;margin:10px;background-color:aquamarine;border-radius:7px;height:40px;width:20%;font-size:20px;">
    @Html.ActionLink("BACK TO MAIN PAGE", "MAIN", "templete")
</section>
    </body>
</html>