@model WebApplication16.Models.Table_food

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Style.cshtml";
}

<div style="text-align:center;">
    <h2 style="font-size:30px; font-weight:bold; color: #be412d; display:inline-block;border-bottom:3px solid red;">Delete</h2>
</div>
<br />

@using (Html.BeginForm("DeleteConfirmed", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<body style="background-color:lightpink;">
    <div class="form-horizontal" style="text-align:center;">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.MenuId)
        <h1>Are you sure you want to delete?</h1>
        <div class="form-group">
            @Html.LabelFor(model => model.MenuName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenuName, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MenuName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>



        <input type="submit" value="Delete" style="background-color:aquamarine;" />


    </div>
    <div class="btn btn-info" style="font-size:16px;background-color:lightblue;width:150px;height:25px;margin:5px;padding:5px;border-style:solid;border-color:black;">
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
}